*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
._.git
._.gitignore
._.gradle
._.idea
._app
._build.gradle.kts
._gradle
._gradle.properties
._gradlew
._gradlew.bat
._local.properties
._README.md
._settings.gradle.kts
.idea/._compiler.xml
.idea/._deploymentTargetSelector.xml
.idea/._gradle.xml
.idea/._inspectionProfiles
.idea/._kotlinc.xml
.idea/._migrations.xml
.idea/._misc.xml
.idea/._modules
.idea/._other.xml
.idea/._vcs.xml
.idea/._workspace.xml
.idea/gradle.xml
.idea/inspectionProfiles/._Project_Default.xml
.idea/misc.xml
.idea/modules/._app
.idea/other.xml
.idea/runConfigurations.xml
app/._.gitignore
app/._build
app/._build.gradle.kts
app/._proguard-rules.pro
app/._src
app/src/._androidTest
app/src/._main
app/src/._test
app/src/androidTest/._java
app/src/androidTest/java/._com
app/src/androidTest/java/com/._example
app/src/androidTest/java/com/example/._tipcalculator
app/src/androidTest/java/com/example/tipcalculator/._ExampleInstrumentedTest.kt
app/src/main/._AndroidManifest.xml
app/src/main/._java
app/src/main/._res
app/src/main/java/._com
app/src/main/java/com/._example
app/src/main/java/com/example/._tipcalculator
app/src/main/java/com/example/tipcalculator/._components
app/src/main/java/com/example/tipcalculator/._MainActivity.kt
app/src/main/java/com/example/tipcalculator/._ui
app/src/main/java/com/example/tipcalculator/._widgets
app/src/main/java/com/example/tipcalculator/components/._Components.kt
app/src/main/java/com/example/tipcalculator/ui/._screen
app/src/main/java/com/example/tipcalculator/ui/._theme
app/src/main/java/com/example/tipcalculator/ui/screen/._TipCalculatorUI.kt
app/src/main/java/com/example/tipcalculator/ui/theme/._Color.kt
app/src/main/java/com/example/tipcalculator/ui/theme/._Theme.kt
app/src/main/java/com/example/tipcalculator/ui/theme/._Type.kt
app/src/main/java/com/example/tipcalculator/widgets/._RoundIconButton.kt
app/src/main/res/._drawable
app/src/main/res/._mipmap-anydpi
app/src/main/res/._mipmap-hdpi
app/src/main/res/._mipmap-mdpi
app/src/main/res/._mipmap-xhdpi
app/src/main/res/._mipmap-xxhdpi
app/src/main/res/._mipmap-xxxhdpi
app/src/main/res/._values
app/src/main/res/._xml
app/src/main/res/drawable/._ic_launcher_background.xml
app/src/main/res/drawable/._ic_launcher_foreground.xml
app/src/main/res/mipmap-anydpi/._ic_launcher.xml
app/src/main/res/mipmap-anydpi/._ic_launcher_round.xml
app/src/main/res/mipmap-hdpi/._ic_launcher.webp
app/src/main/res/mipmap-hdpi/._ic_launcher_round.webp
app/src/main/res/mipmap-mdpi/._ic_launcher.webp
app/src/main/res/mipmap-mdpi/._ic_launcher_round.webp
app/src/main/res/mipmap-xhdpi/._ic_launcher.webp
app/src/main/res/mipmap-xhdpi/._ic_launcher_round.webp
app/src/main/res/mipmap-xxhdpi/._ic_launcher.webp
app/src/main/res/mipmap-xxhdpi/._ic_launcher_round.webp
app/src/main/res/mipmap-xxxhdpi/._ic_launcher.webp
app/src/main/res/mipmap-xxxhdpi/._ic_launcher_round.webp
app/src/main/res/values/._colors.xml
app/src/main/res/values/._strings.xml
app/src/main/res/values/._themes.xml
app/src/main/res/xml/._backup_rules.xml
app/src/main/res/xml/._data_extraction_rules.xml
app/src/test/._java
app/src/test/java/._com
app/src/test/java/com/._example
app/src/test/java/com/example/._tipcalculator
app/src/test/java/com/example/tipcalculator/._ExampleUnitTest.kt
gradle/._libs.versions.toml
gradle/._wrapper
gradle/wrapper/._gradle-wrapper.jar
gradle/wrapper/._gradle-wrapper.properties
